.container{
    width: 100%;
    height: 100%;

}

/*---Reuse---*/

.row{
    width: 100%;
    position: absolute;

}

/*----------*/
/*--Header--*/
/*----------*/

#header{
    background-color: darkblue;
    position: absolute;
    width: 100%;
    height: 20%;
    top:0;
    left: 0;
}

.imagelogo{
    width: 100%;
    height: 100%;
}
.title{
    position: absolute;
    text-align: center;
    margin: 0 350px 0 400px;
    padding-top: 20px;
}

.logo{
    position: absolute;
    padding-left: 120px;
    width: 30%;
    position: absolute;
    margin-left: 75px;
    margin-bottom: 100px;
    padding-top: 30px;
}


.jlogo{
    position: absolute;
    width: 20%;
    padding-right: 100px;
    position: absolute;
    margin-left: 1050px;
    margin-bottom: 100px;
    padding-top: 30px;
}

.fontstyle{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:yellow;
}

/*----------------*/
/*--Navigation Bar*/
/*---------------*/

.navsection .navbar{
    position: absolute;
    top: 150px;
    left: 0;
    height: 10%;
    width: 100%;
}

.navsection .navfont{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.navsection .navul{
                
    padding-left: 140px;
}
.navsection ul li
{
    float: left;
    list-style: none;
    padding:10px;
}

/*---------------*/
/*--Body Image --*/
/*---------------*/

.image{
    position: absolute;
    width: 100%;
    height: 70%;
    top: 210px;
    left: 0;

}

/*-----------------*/
/*-- Body Content--*/
/*-----------------*/

.content{
    position: absolute;
    top: 750px;
    left: 0;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 200px;
}

h3{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;

}

p{
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/*-----Subjects-----*/

#div1{
    position: absolute;
    background-color: rgb(73, 130, 236);
    width: 35%;
    padding: 25px 0 25px 0;
    margin-left: 150px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.subject ul{
    margin-left: 30px;
    font-size: 15px;
    line-height: 150%;
    padding-bottom: 20px;
}

.subject .div1font{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/*-----Teacher Section------*/

.div2{
    position: absolute;
    background-color: mintcream;
    width: 40%;
    padding: 10px 0 0 10px;
    margin-left: 700px;
    border-radius: 10px;
}

.left{
    width: 200px;
    margin: 0 10px 10px 0;
    float: left;
}

.right{
    width: 200px;
    margin: 0 10px 10px 0;
    float: left;
    
}

.tlist{
    width: 100%;
    padding: 5px;
    
}

.teacher ul{
    list-style: none;
    color: blue;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 200%;
    
}

.contact{
    background-color: rgb(73, 130, 236);
    padding: 5px 5px 10px 5px;
    margin-bottom: 10px;
    float: right;
    width: 60%;
    height: 5%;
    border-radius: 10px;
}

/*----Info----*/

.div3{
    position: absolute;
    margin: 550px 0 20px 700px;
    width: 40%;
}


/*----Download----*/

.div4{
    position: absolute;
    width: 35%;
    height: 120px;
    background-color: turquoise;
    margin: 1100px 0 50px 150px;
    border-radius: 10px;
    padding-top: 40px;

}

.div5{
    position: absolute;
    width: 40%;
    height: 120%;
    margin: 1100px 0 50px 700px;
    
}

/*------------------*/
/*--Footer Section--*/
/*------------------*/

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3%;
    width: 100%;
    background-color: darkblue;
    color: yellow;
    text-align: center;
    padding-top: 15px;
    margin-top: 100px;
}





